@import '@polaris/ui/styles/tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: var(--polaris-background-alternative);
  color: var(--polaris-label-normal);
  font-family: var(--polaris-font-sans);
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}
